<div class="text-center mt-3 mb-3">
    <form>
        <input
            class="rounded"
            type="search"
            placeholder="search..."
            autofocus
            (keyup)="debounce.next($event.target.value)"
            >
    </form>
</div>

<ap-photos [photos]="photos | filterByDescription: filter"></ap-photos>


<!--
    BINDINGS: sao unidirecionais, porem cada um com sua direçao especifica

    (eventbinding)="" o evento é disparado da view do template para o componente
    [databinding]=""  dados vem do componente para o template

    pipes | : no caso do ex abaixo, o pipe (|) é utilizado parra deixar as letras maiusculas (uppercase)
    
    {{nome | uppercase}}

    
-->