<ap-search (onTyping)="filter = $event" [value]="filter"></ap-search>

<ap-photos [photos]="photos | filterByDescription: filter"></ap-photos>

<ap-load-button 
    (click)="load()"
    [hasMore]="hasMore">
</ap-load-button>


<!--
    BINDINGS: sao unidirecionais, porem cada um com sua direçao especifica

    (eventbinding)="" o evento é disparado da view do template para o componente
    [databinding]=""  dados vem do componente para o template

    pipes | : no caso do ex abaixo, o pipe (|) é utilizado parra deixar as letras maiusculas (uppercase)
    
    {{nome | uppercase}}

    
-->